@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-warning">Sorry! Login First</h1>
    
    
</div>
<div class="text-center mt-4 mb-3">
    <img src="~/images/404-Page-image.png"/>
</div>
<button class="d-flex btn btn-warning m-auto"> <a asp-controller="Home" asp-action="Login" class="" style="text-decoration:none;">Login Now</a></button>
